name: Coverage with CodeClimate
on: [push]
jobs:
  codeclimate-report:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.15.0'
    - run: go mod download && go build
    - uses: paambaati/codeclimate-action@v2.5.0
      env:
        CC_TEST_REPORTER_ID: f4c78effd3a10a5a45239e6886b35f42475467ad53f09a01002feeb04eb92d5b
      with:
        coverageCommand: go test ./... -coverprofile c.out
        # prefix: github.com/toshimaru/nyan
