name: Coverage with CodeClimate
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    name: codeclimate-report
    steps:
    - uses: actions/setup-go@v2-beta
      with:
        go-version: '^1.13.8'
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Get dependencies
      run: |
        go mod download
        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        chmod +x ./cc-test-reporter
        go build .
    - uses: paambaati/codeclimate-action@v2.5.3
      env:
        CC_TEST_REPORTER_ID: f4c78effd3a10a5a45239e6886b35f42475467ad53f09a01002feeb04eb92d5b
      with:
        coverageCommand: go test ./... -coverprofile c.out
