# name: Go
# on: [release]
# jobs:
#   build:
#     runs-on: macOS-latest
#     name: goreleaser
#     steps:
#     - name: Install dependencies
#       run: brew install goreleaser
#     - name: Set up Go 1.12.9
#       uses: actions/setup-go@v1
#       with:
#         go-version: 1.12.9
#       id: go
#     - name: Check out code into the Go module directory
#       uses: actions/checkout@v1
#     - name: Release via goreleaser
#       run: goreleaser
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
