name: Release with goreleaser
on:
  push:
    tags:
      - v*.*.*
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: git fetch tags
        run: git fetch --force --tags
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Release via goreleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
